@media (max-width: 576px) {
    body.home {
        .intro-container {
            padding-top: 20px;
            flex-direction: column;
            text-align: center;
            .intro-text {
                padding: 5px;
                &:nth-of-type(even) {
                    display: none;
                }
            }
        }
        .navigation-bar-content {
            display: block;
            margin-top: 5px;
            a {
                font-size: 14px;
            }
        }
        .client-logo-img {
            width: 250px;
        }
    }
    div#sub-navigation-bar {
        display: none;
    }
    div#mini-navigation-bar {
        background-color: lighten($dark-color, 10%);
        display: block;
        .client-contact {
            text-align: center;
            background-color: lighten($dark-color, 12%);
            padding: 5px 0px;
        }
        .mini-dropdown-navigation {
            .main-menu {
                padding: 8px;
                .hamburger-toggle {
                    border: 1px $dark-color solid;
                    padding: 5px 8px;
                    float: left;
                    &:hover {
                        background-color: lighten($dark-color, 5%);
                    }
                    i {
                        font-size: 32px;
                        color: $primary-color;
                    }
                }
                .brand-name {
                    text-align: center;
                    img {
                        height: 42px;
                        float: left;
                    }
                    span {
                        float: left;
                        color: $light-color;
                        font-size: 20px;
                        font-family: Light;
                        margin-top: 8px;
                        margin-left: 5px;
                    }
                }
            }
            .dropdown-navigation {
                background-color: lighten($dark-color, 8%);
                display: none;
                ul {
                    list-style: none;
                    padding-left: 0px;
                    margin-bottom: 0px;
                    li {
                        a {
                            color: $light-color;
                            padding: 10px 15px;
                            display: block;
                            text-decoration: none;
                            font-size: 16px;
                            &:hover {
                                background-color: lighten($dark-color, 5%);
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }
    }
    div.about {
        .page-banner {
            padding-top: 250px;
            h1 {
                text-align: center;
                font-size: 50px;
            }
            .motto {
                flex-direction: column;
                h2 {
                    display: block;
                    text-align: center;
                    font-size: 22px;
                }
                h2:nth-of-type(even) {
                    display: none;
                }
            }
        }
        .company-profile p {
            font-size: 16px;
        }
        .owner-section {
            .doctor-mike {
                flex-direction: column;
                .doctor-mike-image {
                    width: 100%;
                    height: 460px;
                }
                .doctor-mike-details {
                    text-align: center;
                    margin-left: 0px;
                }
            }
        }
    }
    div.services {
        .page-banner {
            padding-top: 100px;
            h1 {
                text-align: center;
                font-size: 50px;
            }
        }
        .services-buttons {
            display: block;
            margin-top: 0px;
            a.btn {
                display: block;
                margin-left: 0px;
                margin-top: 20px;
                font-size: 16px;
            }
        }
    }
    div.gallery {
        .page-banner {
            padding-top: 250px;
            h1 {
                text-align: center;
                font-size: 50px;
            }
        }
        .media-gallery-section {
            .media-gallery {
                padding: 0px 20px;
                .media-gallery-item {
                    margin-top: 20px;
                    margin-left: 0px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    div.services {
        &.surgeries {
            .page-banner {
                padding-top: 200px;
                h1 {
                    text-align: center;
                    font-size: 40px;
                }
            }
            .media-section {
                .media-list {
                    .media-item {
                        .media-picture {
                            img {
                                width: 100%;
                                height: 250px;
                            }
                        }
                        .media-detail {
                            margin-top: 0px;
                            padding: 20px;
                        }
                    }
                }
            }
        }
    }
    div.contact {
        .contact-detail-location {
            .right {
                margin-top: 40px;
                margin-left: 0px;
            }
        }
        &.pushed-content {
            margin-top: 0px;
        }
        .container {
            margin-left: initial;
            margin-right: initial;
            width: 100%;
        }
    }
    div.modal .modal-dialog {
        width: inherit;
    }
    div.media-box {
        &-header {
            &-icon {
                font-size: 20px;
            }
            &-title {
                font-size: 20px;
                margin-left: 15px;
            }
        }
        &-content {
            ul {
                li {
                    font-size: 16px;
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {

}