$primary-color: #E3AD43;
$light-color: #FFFFFF;
$dark-color: #000;

span {
    &.primary {
        color: $primary-color;
    }
}
.flex {
    display: flex;
}

.modal {
    z-index: 10000;
    .modal-dialog {
        width: 70vw;
        .modal-content {
            border-radius: 0px;
            .modal-header {
                background-color: lighten($dark-color, 10%);
                color: $primary-color;
                border-bottom: 1px $dark-color solid;
                .modal-title {
                    text-transform: uppercase;
                }
            }
            .modal-body {
                background-color: lighten($dark-color, 8%);
                padding: 0px;
            }
            .modal-footer {
                background-color: lighten($dark-color, 10%);
                border-top: 1px $dark-color solid;
            }
        }
    }
}

.btn {
    border-radius: 0px;
    &.btn-primary {
        background-color: $primary-color !important;
        border-color: darken($primary-color, 20%) !important;
        &:hover {
            background-color: darken($primary-color, 10%) !important;
        }
    }
}

.carousel-caption {
    font-size: 24px;
}

.pushed-content {
    margin-top: 117px;
}

.fa-whatsapp {
    color: #00E676;
}

.processing {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
    right: 0;
    z-index: 10000;
    &-image {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

.alert-message {
    display: none;
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
    &--error {
        color: #db2525;
    }
    &--success {
        color: #93ff9b;
    }
}

.error404 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .client-logo {
        text-align: center;
        .client-logo-img {
            width: 255px;
        }
    }
    .return-home {
        font-size: 25px;
        border-radius: 0px;
        background-color: $primary-color;
        border-color: darken($primary-color, 10%);
        transition: .4s;
        margin-bottom: 40px;
        color: $light-color;
        padding: 10px 25px;
        margin-top: 15px;
        &:hover {
            background-color: darken($primary-color, 10%);
            color: $light-color;
            outline: none;
        }
    }
}