@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '/node_modules/font-awesome/css/font-awesome.min.css';
@import 'variables';
@import 'responsive';

@font-face {
    font-family: Regular;
    src: url('/assets/fonts/Raleway-Regular.ttf');
}
@font-face {
    font-family: Bold;
    src: url('/assets/fonts/Raleway-Bold.ttf');
}
@font-face {
    font-family: Light;
    src: url('/assets/fonts/Raleway-Light.ttf');
}

html, body, #app {
    height: 100%;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

body {
    scroll-behavior: smooth;
    background-color: $dark-color;
    overflow-x: hidden;
    color: $light-color;
    font-family: Regular;
}

.home {
    background-image: url("/assets/images/bg-1.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .client-logo-img {
        width: 400px;
    }
}
.client-logo {
    display: flex;
    justify-content: center;
}
.about {
    .page-banner {
        height: 100vh;
        background-image: url('/assets/images/static/bg-black-1.JPG');
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .motto {
            display: flex;
            justify-content: space-evenly;
            h2 {
                font-family: Light;
                &:nth-of-type(even) {
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
        }
        h1 {
            font-size: 70px;
            font-family: Regular;
            color: $primary-color;
        }
    }
    .page-section {
        -webkit-box-shadow: inset 1px 1px 20px -1px rgba(0,0,0,0.67);
        -moz-box-shadow: inset 1px 1px 20px -1px rgba(0,0,0,0.67);
        box-shadow: inset 1px 1px 20px -1px rgba(0,0,0,0.67);
        background-color: lighten($dark-color, 10%);
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .company-profile {
        p {
            text-align: left;
            font-size: 18px;
            line-height: 1.75;
            margin-bottom: 20px;
        }
        .client-logo-img {
            width: 250px;
            margin-bottom: 40px;
        }
    }
    .owner-section {
        display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        padding: 30px 0px;
        background: lighten($dark-color, 8%);
        h2 {
            font-weight: 300;
        }
        .doctor-mike {
            display: flex;
            &-image {
                width: 300px;
                height: 440px;
                border: 4px $dark-color solid;
            }
            &-details {
                margin-left: 40px;
                flex: 1;
                text-align: left;
                h2 {
                    color: $dark-color;
                    margin-bottom: 20px;
                    color: lighten($dark-color, 25%);
                    font-family: Bold;
                }
                h3 {
                    margin-top: 5px;
                    font-size: 20px;
                    color: lighten($dark-color, 40%);
                }
            }
            &-affiliations {
                margin-top: 25px;
                h3 {
                    color: $dark-color;
                }
                h6 {
                    margin-bottom: 20px;
                    font-family: Bold;
                    font-size: 14px;
                    color: lighten($dark-color, 25%);
                }
            }
        }
    }
}
.services {
    h1 {
        text-transform: uppercase;
        color: lighten($dark-color, 10%);
        text-align: center;
        margin: 40px 0px;
        font-size: 40px;
    }
    .page-banner {
        height: 100vh;
        background-image: url('/assets/images/static/bg-black-1.JPG');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-size: 70px;
            font-family: Regular;
            color: $primary-color;
        }
    }
    .services-buttons {
        display: flex;
        margin-top: 20px;
        .btn {
            border-radius: 0px;
            font-size: 32px;
            margin-left: 40px;
            background-color: $light-color;
            color: $dark-color;
            padding: 15px 25px;
            transition: .2s;
            &:hover {
                background-color: $primary-color;
                color: $light-color;
            }
        }
    }
    &.surgeries {
        .page-banner {
            height: 100vh;
            background-image: url('/assets/images/static/bg-surgeries.JPG');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            h1 {
                font-size: 70px;
                font-family: Regular;
                color: $primary-color;
            }
        }
    }
}
.media-section {
    background-color: $light-color;
}
.media-list {
    display: flex;
    flex-direction: column;
    .media-item {
        box-shadow: 10px 10px grey;
        margin-top: 40px;
        border: 1px darken($light-color, 40%) solid;
        &:nth-of-type(1) {
            margin-top: 0px;
        }
        &:last-child {
            margin-bottom: 40px;
        }
        display: flex;
        align-items: center;
        .media-picture {
            img {
                width: 200px;
                height: 200px;
            }
        }
        .media-detail {
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            .media-title {
                font-family: Bold;
                text-transform: uppercase;
                color: lighten($dark-color, 10%);
                font-size: 24px;
            }
            .media-description {
                margin-top: 20px;
                font-family: Regular;
                font-size: 16px;
                line-height: 1.5;
                color: darken($dark-color, 20%);
            }
            .media-button {
                margin-top: 20px;
                .view-more {
                    font-size: 16px;
                    background-color: $primary-color;
                    color: $light-color;
                    transition: .4s;
                    border-radius: 0px;
                    &:hover {
                        background-color: darken($primary-color, 10%);
                    }
                }
            }
        }
    }
}
.media-box {
    display: flex;
    flex-direction: column;
    &-item {
        margin-top: 20px;
        &:first-child {
            margin-top: 0px;
        }
        &:last-child {
            margin-bottom: 40px;
        }
    }
    &-header {
        display: flex;
        align-items: center;
        padding: 20px;
        background-color: $light-color;
        transition: .4s;
        &:hover {
            background-color: $primary-color;
            color: $light-color;
            cursor: pointer;
        }
        &-icon {
            color: $dark-color;
            font-size: 25px;
        }
        &-title {
            font-family: Regular;
            color: $dark-color;
            font-size: 32px;
            margin-left: 15px;
        }
    }
    &-content {
        display: none;
        justify-content: flex-start;
        border-left: 1px $light-color solid;
        border-right: 1px $light-color solid;
        border-bottom: 1px $light-color solid;
        padding: 20px;
        ul {
            margin-left: 40px;
            &:first-child {
                margin-left: 0px;
            }
            li {
                font-size: 20px;
                a {
                    color: $light-color;
                }
            }
        }
    }
}
#preview-modal {
    .media-write-up {
        padding: 15px;
        color: lighten($dark-color, 10%);
        line-height: 1.5;
        font-size: 16px;
        background-color: $light-color;
    }
    .media-preview {
        display: none;
        &.active {
            display: block
        }
    }
}

.all-services-section {
    background-color: lighten($dark-color, 12%);
    -webkit-box-shadow: inset 1px 1px 20px -1px rgba(0,0,0,0.67);
    -moz-box-shadow: inset 1px 1px 20px -1px rgba(0,0,0,0.67);
    box-shadow: inset 1px 1px 20px -1px rgba(0,0,0,0.67);
    h1 {
        color: $primary-color;
    }
}

.contact {
    .contact-form {
        background-image: url('/assets/images/static/breast-1.jpg');
        .contact-form-header {
            color: $primary-color;
            padding: 40px 0px;
            font-size: 40px;
            text-align: center;
        }
    }
    .form-margin {
        margin-top: 25px;
    }
    .form-input--modified {
        border-radius: 0px;
        border: none;
        &:focus {
            border-color: rgba(255, 215, 0, 0.8);
            box-shadow: 0 1px 1px rgba(255, 215, 0, 0.075) inset, 0 0 8px rgba(255, 215, 0, 0.6);
            outline: 0 none;
        }
    }
    input[type="text"] {
        &.form-input--modified {
            height: 50px;
        }
    }
    .contact-submit {
        width: 100px;
        height: 50px;
        font-size: 20px;
        border-radius: 0px;
        background-color: $primary-color;
        border-color: darken($primary-color, 10%);
        transition: .4s;
        margin-bottom: 40px;
        &:hover {
            background-color: darken($primary-color, 10%);
            color: $light-color;
            outline: none;
        }
    }
    .contact-detail-location {
        -webkit-box-shadow: inset 1px 1px 20px -1px rgba(0,0,0,0.67);
        -moz-box-shadow: inset 1px 1px 20px -1px rgba(0,0,0,0.67);
        box-shadow: inset 1px 1px 20px -1px rgba(0,0,0,0.67);
        display: flex;
        padding: 40px 0px;
        background-color: lighten($dark-color, 12%);
        .emphasized {
            color: $primary-color;
        }
        .left {
            .location {
                text-align: left;
            }
            .contact-details {
                text-align: left;
                margin-top: 30px;
            }
            h3 {
                font-size: 18px;
            }
        }
        .right {
            flex: 1;
            margin-left: 40px;
        }
    }
}

.footer {
    text-align: center;
    padding: 20px 0px;
    background: lighten($dark-color, 8%);
}
.navigation-bar {
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .9);
    display: flex;
    z-index: 1;
    .navigation-bar-content {
        padding-left: 20px;
        padding-right: 20px;
        a {
            font-size: 18px;
            color: $light-color;
            text-decoration: none;
            &:hover {
                transition: .4s;
                color: $primary-color;
                cursor: pointer;
            }
            &:focus {
                color: $light-color;
                text-decoration: none;
            }
        }
    }
}

.client-contact {
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    background: $dark-color;
    .client-contact-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        .client-contact-text {
            margin-left: 5px;
            display: block;
        }
    }
}

.intro-left {
    position: relative;
    float: left;
    top: 490px;
    margin-left: 200px;
    width: 600px;
    text-align: left;
    h1 {
        color: $primary-color;
        font-size: 50px;
    }
    p {
        font-size: 20px;
    }
}


.pushed-content {
    margin-top: 124px;
}


.content-section {
    padding: 40px 0px;
    background-color: darken($dark-color, 10%);
    .content-header {
        font-size: 40px;
        color: $primary-color;
    }
    .content-sub-header {
        font-size: 25px;
        color: $primary-color;
    }
    .content-paragraph {
        margin-top: 15px;
        font-size: 18px;
        text-align: justify;
        line-height: 2;
    }
    &.section--slate {
        background-color: #202021;
        color: $light-color;
        .content-header {
            font-size: 40px;
            color: $primary-color;
        }
        .content-paragraph {
            color: $light-color;
        }
    }
    &.section--light {
        background-color: $light-color;
        color: #333333;
        .content-header {
            font-size: 40px;
            color: #333333;
        }
        .content-sub-header {
            color: #333;
        }
        .content-paragraph {
            color: #333333;
        }
    }
}


// HOME
.book-now {
    color: $light-color;
    font-weight: ESBold;
    width: 50%;
    margin: 25px auto 0px auto;
    h3 {
        font-size: 24px;
    }
    .book-appointment {
        color: $light-color;
        font-size: 32px;
        margin-top: 35px;
        p {
            margin-bottom: 0px;
        }
    }
}
.intro-container {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.intro-text {
    color: rgba(255, 255, 255, .5);
    padding: 15px;
    font-size: 21px;
}
.background {
    width: 100vw;
    z-index: -9999;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-initial {
    background-image: url('/assets/images/bg-1.png');
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    img {
        width: 100%;
    }
}
.bg-bldg {
    background: url('/assets/images/stock/stock-1.jpg');
    height: 980px;
    width: 100%;
    position: relative;
    top: 300px;
}
.bg-2 {
    background: url('/assets/images/stock/stock-2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 900px;
}
.home-services {
    position: relative;
    top: 260px;
    &-group {
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;
    }
    &-list {
        h1 {
            color: $primary-color;
            font-size: 28px;
            text-transform: uppercase;
            text-align: left;
        }
        ul {
            padding-left: 10px;
            list-style: none;
            li {
                font-size: 28px;
                text-align: left;
                padding: 20px 0px;
                .service-list-icon {
                    color: $primary-color;
                    margin-right: 10px;
                }
            }
        }
    }
}

#main-navigation-bar {
    margin-top: 40px;
    height: 80px;
}
.home {
    #sub-navigation-bar {
        visibility: hidden;
        opacity: 0;
    }
}
#sub-navigation-bar {
    display: flex;
    flex-direction: column;
    transition: visibility 0s, opacity 0.5s linear;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10000;
    background-color: lighten($dark-color, 10%);
    .client-contact {
        width: 100%;
    }
    .sub-navigation-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0px;
        > .left {
            display: flex;
            .sub-client-logo img {
                width: 80px;
            }
            .navigation-bar-group {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 20px;
            }
        }
        > .right {
            display: flex;
            align-items: center;
            justify-content: center;
            .social-media {
                display: flex;
                .social-media-link {
                    padding: 15px;
                    cursor: pointer;
                    &.facebook {
                        a {
                            color: $light-color;
                            text-decoration: none;
                            transition: .4s;
                            &:hover {
                                color: #3b5998;
                            }
                        }
                    }
                    &.instagram:hover {
                        color: #D62976;
                    }
                }
            }
        }
    }
}
#mini-navigation-bar {
    display: none;
}
// About Us
.about {
    .owner-section {
        top: 0px;
        background-color: $light-color;
        h2, h3, h6 {
            color: lighten($dark-color, 5%);
        }
    }
    .our-team {
        .member-name {
            font-size: 25px;
            text-align: left;
            font-weight: 700;
        }
        .member-position {
            font-size: 20px;
            text-align: left;
        }
        .team-detail {
            margin-top: 30px;
            display: flex;
            img {
                width: 25%;
            }
            .detail {
                margin-left: 30px;
                p {
                    text-align: left;
                    line-height: 2;
                    margin-top: 10px;
                    font-size: 16px;
                }
            }
        }
    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
        img {
            flex: 1;
            width: 20%;
            height: 256px;
            padding: 15px;
            &:hover {
                opacity: .7;
            }
        }
    }
}

.hero-title {
    padding-top: 20%;
    padding-bottom: 20%;
    h1 {
        font-size: 65px;
        color: $primary-color;
        text-transform: uppercase;
    }
    h2 {
        font-size: 18px;
        width: 60%;
        line-height: 1.5;
    }
    &.hero-title--left {
        text-align: left;
    }
    &.hero-title--right {
        text-align: right;
        h2 {
            float: right;
        }
    }
}

.services {
    .content-and-picture {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        .detail {
            margin-left: 25px;
            text-align: left;
            .detail-button {
                background-color: $dark-color;
                color: $light-color;
                padding: 6px 12px;
                border: none;
                transition: .4s;
                &:hover {
                    background-color: lighten($dark-color, 20%);
                }
            }
        }
    }
}


.home {
    .clients {
        margin-bottom: 40px;
        .carousel-inner {
            img {
                margin: 0 auto;
                width: 30%;
            }
        }
        h1 {
            margin: 40px 0px;
        }
        .carousel-control {
            background-image: initial;
            color: $primary-color;
            opacity: 1;
            width: 35%;
            &:hover {
                color: darken($primary-color, 5%);
            }
        }
    }
}