@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '/node_modules/font-awesome/css/font-awesome.min.css';
@import 'variables';
@import 'responsive';

@font-face {
    font-family: Regular;
    src: url('/assets/fonts/Raleway-Regular.ttf');
}
@font-face {
    font-family: Bold;
    src: url('/assets/fonts/Raleway-Bold.ttf');
}
@font-face {
    font-family: Light;
    src: url('/assets/fonts/Raleway-Light.ttf');
}

html, body, #app {
    height: 100%;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

body {
    scroll-behavior: smooth;
    background-color: $dark-color;
    overflow-x: hidden;
    color: $light-color;
    font-family: Regular;
}
.home {
    background-image: url("/assets/images/bg-home.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .client-logo-img {
        width: 400px;
    }
    .client-logo {
        display: block;
        justify-content: initial;
        text-align: center;
    }
}
#mini-navigation-bar {
    display: none;
}
.intro-container {
    padding-top: 60px;
    text-align: center;
    .intro-text {
        color: rgba(255, 255, 255, .5);
        padding: 15px;
        font-size: 21px;
        display: inline-block;
    }
}
#main-navigation-bar {
    margin-top: 40px;
    padding: 20px 0px;
}
.navigation-bar {
    text-align: center;
    background-color: rgba(0, 0, 0, .9);
    z-index: 1;
    .navigation-bar-content {
        padding-left: 20px;
        padding-right: 20px;
        display: inline-block;
        a {
            font-size: 18px;
            color: $light-color;
            text-decoration: none;
            &:hover {
                transition: .4s;
                color: $primary-color;
                cursor: pointer;
            }
            &:focus {
                color: $light-color;
                text-decoration: none;
            }
        }
    }
}
#sub-navigation-bar {
    transition: visibility 0s, opacity 0.5s linear;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10000;
    background-color: lighten($dark-color, 10%);
    .client-contact {
        width: 100%;
        background: $dark-color;
        padding: 5px 0px;
        .client-contact-item {
            display: inline-block;
            margin-left: 15px;
        }
        .whatsapp-icon {
            width: 24px;
        }
        .viber-icon {
            width: 24px;
        }
        .client-contact-text {
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    .sub-navigation-bar {
        padding: 10px 0px;
        .sub-client-logo img {
            width: 80px;
        }
        .navigation-bar-group {
            display: inline-block;
            text-align: left;
        }
        .left {
            display: inline-block;
            text-align: left;
            padding-top: 18px;
        }
        .right {
            .social-media {
                .social-media-link {
                    padding: 15px;
                    display: inline-block;
                    cursor: pointer;
                    &.facebook {
                        a {
                            color: $light-color;
                            text-decoration: none;
                            transition: .4s;
                            &:hover {
                                color: #3b5998;
                            }
                        }
                    }
                    &.instagram {
                        a {
                            color: $light-color;
                            text-decoration: none;
                            transition: .4s;
                            &:hover {
                                color: #D62976;
                            }
                        }
                    }
                }
            }
        }
    }
}
.page-banner {
    min-height: 100vh;
    height: 740px;
    text-align: center;
    padding-top: 300px;
}
.about {
    .page-banner {
        background-image: url('/assets/images/static/bg-black-1.jpg');
        background-repeat: no-repeat;
        .motto {
            h2 {
                display: inline-block;
                font-family: Light;
                &:nth-of-type(even) {
                    margin-left: 20px;
                    margin-right: 20px;
                    font-size: 20px;
                }
            }
        }
        h1 {
            font-size: 70px;
            font-family: Regular;
            color: $primary-color;
        }
    }
    .page-section {
        -webkit-box-shadow: inset 1px 1px 20px -1px rgba(0,0,0,0.67);
        -moz-box-shadow: inset 1px 1px 20px -1px rgba(0,0,0,0.67);
        box-shadow: inset 1px 1px 20px -1px rgba(0,0,0,0.67);
        background-color: lighten($dark-color, 10%);
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .company-profile {
        p {
            text-align: left;
            font-size: 18px;
            line-height: 1.75;
            margin-bottom: 20px;
        }
        .client-logo {
            text-align: center;
            .client-logo-img {
                width: 250px;
                margin-bottom: 40px;
                text-align: center;
            }
        }
    }
    .owner-section {
        z-index: 1;
        padding: 30px 0px;
        background: $light-color;
        h2 {
            font-weight: 300;
        }
        .doctor-mike {
            &-image {
                width: 100%;
                border: 4px $dark-color solid;
            }
            &-details {
                flex: 1;
                text-align: left;
                h2 {
                    color: $dark-color;
                    margin-bottom: 20px;
                    color: lighten($dark-color, 25%);
                    font-family: Bold;
                }
                h3 {
                    margin-top: 5px;
                    font-size: 20px;
                    color: lighten($dark-color, 40%);
                }
            }
            &-affiliations {
                margin-top: 25px;
                h3 {
                    color: $dark-color;
                }
                h6 {
                    margin-bottom: 20px;
                    font-family: Bold;
                    font-size: 14px;
                    color: lighten($dark-color, 25%);
                }
            }
        }
    }
}
.services {
    h1 {
        text-transform: uppercase;
        color: lighten($dark-color, 10%);
        text-align: center;
        margin: 40px 0px;
        font-size: 40px;
    }
    .page-banner {
        background-image: url('/assets/images/static/bg-black-1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        h1 {
            font-size: 70px;
            font-family: Regular;
            color: $primary-color;
        }
    }
    .services-buttons {
        text-align: center;
        margin-top: 20px;
        .btn {
            border-radius: 0px;
            font-size: 32px;
            margin-left: 40px;
            background-color: $light-color;
            color: $dark-color;
            padding: 15px 25px;
            transition: .2s;
            &:hover {
                background-color: lighten($dark-color, 10%);
                color: $light-color;
            }
        }
    }
    &.surgeries {
        .page-banner {
            background-image: url('/assets/images/static/bg-surgeries.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            h1 {
                font-size: 70px;
                font-family: Regular;
                color: $primary-color;
            }
        }
    }
    &.face-skin-body {
        .page-banner {
            background-image: url('/assets/images/static/bg-face-body.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            h1 {
                font-size: 70px;
                font-family: Regular;
                color: $primary-color;
            }
        }
    }
    &.lasers-machines {
        .page-banner {
            height: 100vh;
            background-image: url('/assets/images/static/bg-lasers.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            h1 {
                font-size: 70px;
                font-family: Regular;
                color: $primary-color;
            }
        }
    }
}
.media-section {
    background-color: $light-color;
}
.media-list {
    .media-item {
        box-shadow: 10px 10px grey;
        margin-top: 40px;
        border: 1px darken($light-color, 40%) solid;
        &:nth-of-type(1) {
            margin-top: 0px;
        }
        &:last-child {
            margin-bottom: 40px;
        }
        .media-picture {
            img {
                width: 100%;
                height: 200px;
            }
        }
        .media-detail {
            margin-top: 20px;
            .media-title {
                font-family: Bold;
                text-transform: uppercase;
                color: lighten($dark-color, 10%);
                font-size: 24px;
            }
            .media-description {
                margin-top: 20px;
                font-family: Regular;
                font-size: 16px;
                line-height: 1.5;
                color: darken($dark-color, 20%);
            }
            .media-button {
                margin-top: 20px;
                .view-more {
                    font-size: 16px;
                    background-color: $primary-color;
                    color: $light-color;
                    transition: .4s;
                    border-radius: 0px;
                    &:hover {
                        background-color: darken($primary-color, 10%);
                    }
                }
            }
        }
    }
}
.media-box {
    &-item {
        margin-top: 20px;
        &:first-child {
            margin-top: 0px;
        }
        &:last-child {
            margin-bottom: 40px;
        }
    }
    &-header {
        padding: 20px;
        background-color: $light-color;
        transition: .4s;
        &:hover {
            background-color: $primary-color;
            color: $light-color;
            cursor: pointer;
        }
        &-icon {
            color: $dark-color;
            font-size: 25px;
            display: inline-block;
        }
        &-title {
            font-family: Regular;
            color: $dark-color;
            font-size: 32px;
            margin-left: 15px;
            display: inline-block;
        }
    }
    &-content {
        display: none;
        justify-content: flex-start;
        border-left: 1px $light-color solid;
        border-right: 1px $light-color solid;
        border-bottom: 1px $light-color solid;
        padding: 20px;
        ul {
            li {
                font-size: 20px;
                a {
                    color: $light-color;
                }
            }
        }
    }
}
#preview-modal {
    .media-write-up {
        padding: 15px;
        color: lighten($dark-color, 10%);
        line-height: 1.5;
        font-size: 16px;
        background-color: $light-color;
    }
    .media-preview {
        display: none;
        &.active {
            display: block
        }
    }
}

.all-services-section {
    background-color: lighten($dark-color, 12%);
    -webkit-box-shadow: inset 1px 1px 20px -1px rgba(0,0,0,0.67);
    -moz-box-shadow: inset 1px 1px 20px -1px rgba(0,0,0,0.67);
    box-shadow: inset 1px 1px 20px -1px rgba(0,0,0,0.67);
    h1 {
        color: $primary-color;
    }
}

.gallery {
    h1 {
        text-transform: uppercase;
        color: lighten($dark-color, 10%);
        text-align: center;
        margin: 40px 0px;
        font-size: 40px;
    }
    .page-banner {
        background-image: url('/assets/images/bg-1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        h1 {
            font-size: 70px;
            font-family: Regular;
            color: $primary-color;
        }
    }
    .media-gallery-section {
        background-color: $light-color;
        padding-bottom: 40px;
        .media-gallery {
            .media-gallery-item {
                margin-top: 40px;
                -webkit-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.67);
                -moz-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.67);
                box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.67);
                &:hover {
                    opacity: .8;
                    cursor: pointer;
                }
                img {
                    width: 100%;
                    height: 200px;
                }
            }
        }
    }
}
#gallery-modal {
    .single-image, .album {
        display: none;
    }
    img {
        max-width: 100%;
    }
    .single-image {
        .image-caption {
            background-color: $light-color;
            color: $dark-color;
            padding: 20px;
            font-size: 20px;
            text-align: center;
        }
    }
}
.contact {
    .contact-form {
        background-image: url('/assets/images/static/breast-1.jpg');
        .contact-form-header {
            color: $primary-color;
            padding: 40px 0px;
            font-size: 40px;
            text-align: center;
        }
    }
    .form-margin {
        margin-top: 25px;
    }
    .form-input--modified {
        border-radius: 0px;
        border: none;
        &:focus {
            border-color: rgba(255, 215, 0, 0.8);
            box-shadow: 0 1px 1px rgba(255, 215, 0, 0.075) inset, 0 0 8px rgba(255, 215, 0, 0.6);
            outline: 0 none;
        }
    }
    input[type="text"] {
        &.form-input--modified {
            height: 50px;
        }
    }
    .contact-submit {
        width: 100px;
        height: 50px;
        font-size: 20px;
        border-radius: 0px;
        background-color: $primary-color;
        border-color: darken($primary-color, 10%);
        transition: .4s;
        margin-bottom: 40px;
        &:hover {
            background-color: darken($primary-color, 10%);
            color: $light-color;
            outline: none;
        }
    }
    .contact-detail-location {
        -webkit-box-shadow: inset 1px 1px 20px -1px rgba(0,0,0,0.67);
        -moz-box-shadow: inset 1px 1px 20px -1px rgba(0,0,0,0.67);
        box-shadow: inset 1px 1px 20px -1px rgba(0,0,0,0.67);
        display: flex;
        padding: 40px 0px;
        background-color: lighten($dark-color, 12%);
        .emphasized {
            color: $primary-color;
        }
        .left {
            .location {
                text-align: left;
            }
            .contact-details {
                text-align: left;
                margin-top: 30px;
                .viber-icon {
                    width: 28px;
                }
                .whatsapp-icon {
                    width: 28px;
                }
            }
            h3 {
                font-size: 18px;
            }
            .contact-text {
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    }
}
.footer {
    text-align: center;
    padding: 20px;
    background: lighten($dark-color, 8%);
}