@font-face {
    font-family: Regular;
    src: url('/assets/fonts/EncodeSans-Regular.ttf');
}
@font-face {
    font-family: Bold;
    src: url('/assets/fonts/EncodeSans-Bold.ttf');
}
@font-face {
    font-family: Light;
    src: url('/assets/fonts/EncodeSans-Light.ttf');
}

html, body {
    padding: 0px;
    margin: 0px;
    background-color: #000;
    font-family: Regular;
    font-size: 14px;
}
* {
    box-sizing: border-box;
}
textarea {
    font-family: Regular;
    padding: 10px;
}

input[type="file"] {
    display: none;
}

input[type="text"], input[type="password"] {
    border-style: none;
    background-color: #ffff;
    padding: 5px;
    border: solid 1px #303030;
    border-radius: 3px;
}

input[type="button"] {
    border: solid 1px #d69d33;
    background-color: #e3ad43;
    color: #fff;
    font-family: Regular;
    padding: 5px 8px;
    border-radius: 3px;
}

input[type="button"]:hover {
    background-color: #d69d33;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#navigation-bar {
    background-color: #fff;
    border-bottom: 1px solid #575757;
    display: flex;
    align-items: center;
}

#content {
    flex: 1;
    display: flex;
}

#footer-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1e253b;
    border-top: 1px solid #414b6e;
    color: #a3b2e3;
    font-size: 12px;
    padding: 10px;
}

.stretch {
    flex: 1;
}

.title {
    min-width: 280px;
    max-width: 280px;
    padding: 5px;
    padding-left: 10px;
    font-size: 14px;
}

#client-name {
    font-weight: normal;
    font-family: Bold;
    color: #E3AD43;
}

#system-name {
    color: #696969;
}

.navigation-bar-container {
    text-align: right;
}

.navigation-bar-container div {
    padding: 5px;
    padding-right: 10px;
}

.navigation-bar-container a {
    text-decoration: none;
    font-weight: normal;
    font-family: Bold;
    color: #3d3d3d;
    font-size: 13px;
}

.navigation-bar-container a:hover {
    color: #808080;
}

#login-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-form {
    width: 350px;
    height: 300px;
    padding: 20px;
}

#login-form table {
    width: 100%;
}

#client-logo {
    width: 200px;
}

#error-label {
    font-size: 13px;
    color: red;
}
#loading {
    visibility: hidden;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading img {
    max-width: 60px;
    min-width: 60px;
    flex: 1;
}

#app-container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#side-bar {
    background-color: #171717;
    border-right: solid 1px #1f1f1f;
    min-width: 200px;
    max-width: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.side-bar-item {
    padding: 10px;
    color: #a3a3a3;
    margin-top: 5px;
    cursor: pointer;
    vertical-align: middle;
}

.side-bar-item span {
    padding-left: 5px;
    font-size: 13px;
}

.side-bar-item:hover {
    background-color: #1f1f1f;
}

#contents {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#content-title {
    background-color: #303030;
    padding: 8px 12px;
}

.menu-title {
    font-size: 13px;
    font-weight: normal;
    font-family: Bold;
    color: #fff;
}

#content-space {
    background-color: #d1d1d1;
    flex: 1;
}

#menu-content {
    flex: 1;
    padding: 10px;
    height: calc(100vh - 108px);
    height: -webkit-calc(100vh - 108px);
    height: -moz-calc(100vh - 108px);
    height: -o-calc(100vh - 108px);
    overflow-y: auto;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.thumbnail {
    flex: 1;
    width: 100%;
    max-height: 79px;
    cursor: pointer;
}

.thumbnail-label-count {
    font-size: 11px;
    color: #595959;
    padding-top: 5px;
    padding-left: 10px;
}

.remove-icon {
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.remove-icon:hover {
    background-color: #e3e3e3;
}

.gallery-item:hover, .gallery-item-add:hover {
    border: solid 1px #7e9903;
}

.gallery-item-add img {
    width: 70px;
}

#alert {
    width: 100%;
    position: fixed;
    top: 10px;
    left: 0px;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#alert-container {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    border: 1px #ccc solid;
    border-radius: 5px;
    padding: 10px;
}

#alert-container table {
    width: 100%;
    height: 100%;
}

#confirm, .modal-body {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.7);
}

#confirm-container {
    flex: 1;
    background-color: #fff;
    max-width: 300px;
    max-height: 200px;
    border-radius: 5px;
    padding: 10px;
}

#photo-browser {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.7);
}

#photo-browser-container {
    background-color: #fff;
    max-width: 700px;
    height: 85vh;
    display: flex;
    flex-direction: column;
}

#photo-browser-container table {
    width: 100%;
    height: 100%;
}

.preview-holder div {
    text-align: center;
}

.edit-caption {
    padding: 20px;
}
.edit-caption textarea {
    width: 100%;
}

#gallery-preview {
    width: 300px;
}

#thumbnails {
    background: #f2f2f2;
    border-bottom: 1px #ccc solid;
    width: 670px;
    padding: 10px;
    margin-bottom: 15px;
    overflow-x: auto;
}

.thumbnail-small {
    background-color: #fff;
    padding: 5px;
    border-bottom: solid 3px transparent;
}

.thumbnail-small img {
    max-height: 50px;
    width: 70px;
}

.thumbnail-small:hover {
    border-bottom: solid 3px #6aa0f7;
}

.thumbnail-small-selected {
    border-bottom: solid 3px #6aa0f7;
}

#close-gallery {
    cursor: pointer;
    padding: 3px;
    border-radius: 3px;
}

#close-gallery:hover {
    background-color: #000;
}

.control-bar {
    display: flex;
    justify-content: flex-end;
}

.control-item {
    text-align: center;
    cursor: pointer;
    padding: 3px;
    border-radius: 3px;
}

.control-item:hover {
   background-color: #e3e3e3;
}

.control-item span {
    color: #fff;
    font-size: 12px;
    background-color: #4d4d4d;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    position: absolute;
    visibility: hidden;
}

.control-item:hover span{
   visibility: visible;
}





.pb-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px #ccc solid;
    padding: 10px 12px;
    background-color: #222;
    color: #fff;
}
.pb-content {
    overflow: auto;
    flex: 1;
}
.pb-footer {
    border-top: 1px #ccc solid;
    padding: 10px 12px;
}

.gallery-item {
    width: 130px;
    height: 120px;
    margin: 5px;
    background-color: #fff;
    border: solid 1px #b0b0b0;
    display: flex;
    flex-direction: column;
}
.gallery-item-add {
    width: 130px;
    height: 120px;
    margin: 5px;
    background-color: #fff;
    border: solid 1px #b0b0b0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.gi-item-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 5px 8px;
    align-items: center;
}
.gi-photo-count {
    font-size: 12px;
}
.gi-item-content {
    height: 90px;
    cursor: pointer;
}

.error404 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.error404 .client-logo {
    text-align: center;
}
.error404 .client-logo-img {
    width: 255px;
}
.error404 h1 {
    color: #fff;
}
.error404 .return-home {
    font-size: 25px;
    border-radius: 0px;
    background-color: #E3AD43;
    border-color: #ce9937;
    transition: .4s;
    margin-bottom: 40px;
    color: #fff;
    padding: 15px 25px;
    margin-top: 15px;
    text-decoration: none;
}
.error404 .return-home:hover {
    background-color: #ce9937;
    color: #fff;
    outline: none;
}


.text-input-modal-container {
    flex: 1;
    background-color: #fff;
    max-width: 400px;
    max-height: 300px;
    border-radius: 5px;
    padding: 10px;
}

#services-container {
    width: 100%;
    height: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

#services-container td{
    padding: 0px;
    margin: 0px;
}

.window-title-bar {
    color: #171717;
    border-bottom: solid 3px #171717;
    padding: 5px;
    font-weight: bold;
}

.window-content {
    padding: 10px;
    height: 100%;
    overflow-y: scroll;
}

#category-window {
    width: 300px;
    height: calc(100vh - 155px);
    height: -webkit-calc(100vh - 155px);
    height: -moz-calc(100vh - 155px);
    height: -o-calc(100vh - 155px);
}

#detail-window {
    width: calc(100vw - 535px);
    width: -webkit-calc(100vw - 535px);
    width: -moz-calc(100vw - 535px);
    width: -o-calc(100vw - 535px);
    height: calc(100vh - 155px);
    height: -webkit-calc(100vh - 155px);
    height: -moz-calc(100vh - 155px);
    height: -o-calc(100vh - 155px);
}

#detail-window a{
    padding-left: 5px;
    font-size: 12px;
    text-decoration: none;
}

#detail-window a:hover{
    text-decoration: underline;
}

#category-table {
    width: 100%;
}

#category-table td{
    padding: 7px;
    width: 100%;
    cursor: pointer;
}

#category-table td:hover, .category-data-selected{
    background-color: #1f1f1f;
    color: #fff;
}

.category-background-image {
    max-width: calc(100vw - 580px);
    max-width: -webkit-calc(100vw - 580px);
    max-width: -moz-calc(100vw - 580px);
    max-width: -o-calc(100vw - 580px);
}

.featured-services-item {
    display: block;
    background-color: #fff;
    padding: 10px;
    margin-top: 5px;
}

.featured-services-thumbnail {
    width: 100px;
}

#other-services-table {
    width: 100%;
}

#other-services-table td{
    padding: 5px;
}

#other-services-table tr:hover span{
    color: #4f4f4f;
}

.other-services-control {
    width: 100px;
}

#category-add {
    
    font-weight: bold;
}