html, body {
    padding: 0px;
    margin: 0px;
    background-color: #000;
    font-family: Arial;
    font-size: 14px;
}

textarea {
    font-family: Arial;
    padding: 10px;
}

input[type="file"] {
    display: none;
}

input[type="text"], input[type="password"] {
    border-style: none;
    background-color: #ffff;
    padding: 5px;
    border: solid 1px #303030;
    border-radius: 3px;
}

input[type="button"] {
    border: solid 1px #303030;
    background-color: #e0e0e0;
    color: #383838;
    font-weight: bold;
    padding: 5px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 3px;
}

input[type="button"]:hover {
    background-color: #bababa;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#navigation-bar {
    flex: 1;
    min-height: 30px;
    max-height: 30px;
    background-color: #e0e0e0;
    border-bottom: 1px solid #575757;
    display: flex;
    flex-direction: row;
}

#content {
    flex: 1;
    display: flex;
}

#footer-bar {
    flex: 1;
    min-height: 20px;
    max-height: 20px;
    background-color: #1e253b;
    border-top: 1px solid #414b6e;
    color: #a3b2e3;
    font-size: 10px;
    padding: 3px;
    vertical-align: middle;
    text-align: right;
}

.stretch {
    flex: 1;
}

.title {
    min-width: 280px;
    max-width: 280px;
    padding: 5px;
    padding-left: 10px;
    font-size: 14px;
}

#client-name {
    font-weight: bold;
    color: #9da600;
}

#system-name {
    color: #696969;
}

.navigation-bar-container {
    text-align: right;
}

.navigation-bar-container div {
    padding: 5px;
    padding-right: 10px;
}

.navigation-bar-container a {
    text-decoration: none;
    font-weight: bold;
    color: #3d3d3d;
    font-size: 13px;
}

.navigation-bar-container a:hover {
    color: #808080;
}

#login-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-form {
    width: 350px;
    height: 300px;
    padding: 20px;
}

#login-form table {
    width: 100%;
}

#client-logo {
    width: 200px;
}

#error-label {
    font-size: 13px;
    color: red;
}
#loading {
    visibility: hidden;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading img {
    max-width: 60px;
    min-width: 60px;
    flex: 1;
}

#app-container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#side-bar {
    background-color: #171717;
    border-right: solid 1px #1f1f1f;
    min-width: 200px;
    max-width: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.side-bar-item {
    padding: 10px;
    color: #a3a3a3;
    margin-top: 5px;
    cursor: pointer;
    vertical-align: middle;
}

.side-bar-item span {
    padding-left: 5px;
    font-size: 13px;
}

.side-bar-item:hover {
    background-color: #1f1f1f;
}

#contents {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#content-title {
    flex: 1;
    min-height: 20px;
    max-height: 20px;
    background-color: #303030;
    padding: 5px;
    padding-left: 10px;
}

.menu-title {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

#content-space {
    background-color: #d1d1d1;
    flex: 1;
}

#menu-content {
    flex: 1;
    padding: 10px;
    height: calc(100vh - 108px);
    height: -webkit-calc(100vh - 108px);
    height: -moz-calc(100vh - 108px);
    height: -o-calc(100vh - 108px);
    overflow-y: scroll;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery-item, .gallery-item-add {
    padding: 10px;
    width: 130px;
    height: 120px;
    margin: 5px;
    background-color: #fff;
    border: solid 1px #b0b0b0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail {
    flex: 1;
    width: 130px;
    max-height: 90px;
    cursor: pointer;
}

.thumbnail-label-count {
    font-size: 11px;
    color: #595959;
}

.remove-icon {
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.remove-icon:hover {
    background-color: #e3e3e3;
}

.gallery-item:hover, .gallery-item-add:hover {
    border: solid 1px #7e9903;
}

.gallery-item-add img {
    width: 70px;
}

#alert {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#alert-container {
    flex: 1;
    background-color: #fff;
    min-width: 400px;
    max-width: 400px;
    height: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px;
}

#alert-container  table {
    width: 100%;
    height: 100%;
}

#confirm {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.7);
}

#confirm-container {
    flex: 1;
    background-color: #fff;
    max-width: 300px;
    max-height: 200px;
    border-radius: 5px;
    padding: 10px;
}

#photo-browser {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.7);
}

#photo-browser-container {
    flex: 1;
    background-color: #fff;
    max-width: 700px;
    max-height: 500px;
    border-radius: 5px;
    padding: 10px;
}

#photo-browser-container table{
    width: 100%;
    height: 100%;
}

.preview-holder div {
    overflow-y: scroll;
    max-height: 200px;
}

#gallery-preview {
    width: 300px;
}

#thumbnails {
    height: 90px;
    width: 690px;
    overflow-x: scroll;
    cursor: pointer;
}

.thumbnail-small {
    background-color: #fff;
    padding: 2px;
    border-bottom: solid 3px #fff;
}

.thumbnail-small img {
    max-height: 50px;
    width: 70px;
}

.thumbnail-small:hover {
    border-bottom: solid 3px #6aa0f7;
}

.thumbnail-small-selected {
    border-bottom: solid 3px #6aa0f7;
}

.thumbnail-holder {
    height: 90px;
}

#close-gallery {
    cursor: pointer;
    padding: 3px;
    border-radius: 3px;
}

#close-gallery:hover {
    background-color: #e3e3e3;
}

.control-bar {
    min-width: 210px;
    max-width: 210px;
}

.control-item {
    text-align: center;
    cursor: pointer;
    padding: 3px;
    border-radius: 3px;
}

.control-item:hover {
   background-color: #e3e3e3;
}

.control-item span {
    color: #fff;
    font-size: 12px;
    background-color: #4d4d4d;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    position: absolute;
    margin-top: -26px;
    margin-left: -34px;
    visibility: hidden;
}

.control-item:hover span{
   visibility: visible;
}

